{% extends 'base.html' %}

{# https://www.w3schools.com/bootstrap4/bootstrap_navs.asp #}
{# dynamic / toggleable tabs #}


{% block content %}
    <div class="well imgbox row">
        <div class="col-sm-2">
            <nav class="navbar navbar-expand-sm bg-light border border-info">
                <ul class="navbar-nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="/class/{{ class_name }}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/class/{{ class_name }}/assignments">Assignments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/class/{{ class_name }}/submissions">Submissions</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-10 well imgbox">
                <div class="bg-light border border-dark">
                    {% block text_area %}
                        {% if not extension %} {# overview #}
                            {{ content }}
                        {% elif extension == "assignments" %}
                            {% if assignment_name %}  {# for submissions #}
                                <h1>{{ assignment_name }}</h1>
                                <form method="post" action="/submit/{{ class_name }}/{{ assignment_name }}">
                                    <div class="form-group">
                                        <label for="submission">submission</label>
                                        <textarea placeholder="" class="form-control" name="submission" id="submission" required></textarea>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="submit">
                                </form>
                            {% else %}
                                <h2 style="padding-left:1ch">Assignments</h2>
                                <ul class="list-group">
                                    {% for a_name, discription in content.items() %}
                                        <li class="list-group-item">
                                            <p>
                                                <a href="/class/{{ class_name }}/assignments/{{ a_name }}">

                                                    <b>{{ a_name }}</b> - {{ discription }}
                                                </a>
                                                <a class="float-right" href="/upload/{{ class_name }}/{{ a_name }}">
                                                    upload file
                                                </a>
                                            </p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% elif extension == 'submissions' %}
                            <h2 style="padding-left:1ch">Submissions</h2>
                            <ul class="list-group">
                                {% for a_name, discription in content.items() %}
                                    <li class="list-group-item">
                                        <a href="/view/{{ class_name }}/{{ a_name }}">
                                            <p><b>{{ a_name }}</b> - {{ discription | safe }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endblock %}
                </div>
        </div>
    </div>
{% endblock %}
